<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vla">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VLA"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".teacher.AddTaskView"
            android:exported="false" />
        <activity
            android:name=".teacher.TeacherTasksView"
            android:exported="false" />
        <activity
            android:name=".student.AddSessionView"
            android:exported="false" />
        <activity
            android:name=".student.StudySessionsView"
            android:exported="false" />
        <activity
            android:name=".student.AddNoteView"
            android:exported="false" />
        <activity
            android:name=".student.AddBoardView"
            android:exported="false" />
        <activity
            android:name=".student.NotesView"
            android:exported="false" />
        <activity
            android:name=".student.BoardView"
            android:exported="false" />
        <activity
            android:name=".student.StudentTasksView"
            android:exported="false" />
        <activity
            android:name=".student.StudentCourseView"
            android:exported="false" />
        <activity
            android:name=".teacher.TeacherCourseView"
            android:exported="false" />
        <activity
            android:name=".teacher.TeacherHomePage"
            android:exported="false" />
        <activity
            android:name=".student.StudentHomePage"
            android:exported="false" />
        <activity
            android:name=".login.LogInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>